<main>
  <h1>Shop Cart</h1>
  <p>Here you can see the items in your shopping cart.</p>

  <p>You have {{ cartItems().length }} items in your cart</p>

  @if (cartItems().length === 0) {
    <div class="empty-cart">
      <img
        src="./assets/empty-cart.png"
        alt="Empty Cart"
        class="empty-cart-image"
      />
      <h2>Your cart is empty. Start adding some products!</h2>

      <button mat-flat-button color="warn" routerLink="/product-list">
        Product List
      </button>
    </div>
  }

  @for (item of cartItems(); track item.id) {
    <div class="cart-item">
      <img [src]="item.img" alt="{{ item.name }}" class="product-image" />
      <h2>{{ item.name }}</h2>
      <p>Price: {{ item.price | currency }}</p>
      <p>Quantity: {{ item.quantity }}</p>

      <button mat-flat-button color="warn" (click)="removeFromCart(item)">
        Remove
      </button>
    </div>
  }

  @if (cartItems().length > 0) {
    <p class="total-price">Total Price: {{ totalPrice() | currency }}</p>
  }

  <hr />

  <button
    mat-raised-button
    color="primary"
    (click)="checkout()"
    [disabled]="cartItems().length === 0"
  >
    Checkout
  </button>
</main>
